= javascript_include_tag 'youtube_embed_responsive'
.full-page-wrap.smooth-container
  %header
    .container
      %h1.logo
  .album-text.mobile
    .container
      %h3
        %strong The Sun Three Hups - Black LP
  .page-wrap
    .container
      .bg-img.youtube_video
        != YouTubeRails.youtube_embed_url('https://www.youtube.com/watch?v=jVP9AsWvIss', 420, 315, ssl: true)
      %nav
        %ul
          %li
            = link_to 'https://www.youtube.com/watch?v=jVP9AsWvIss', target: :_blank do
              = fa_icon 'youtube-play'
              Смотреть клип 'Multicolor Bus'
          -#%li
            %a{href: "https://forms.umusic.com/4931/form/7691", target: "_blank"} Подписаться на рассылку
          -#%li
            %a{href: "https://shop.thekillersmusic.com/", target: "_blank"} Visit Official Store
  .anchor-wrap.desktop
    .container
      .album-text.desktop
        %h3
          %strong The Sun Three Hups - Black LP
      = render 'soundcloud'
      %br
      %br
      %br
      %h3{ style: 'color: white' }
        Подпишитесь на нас в социальных сетях
      %h2{ style: 'color: white !important' }
        = link_to 'https://vk.com/thesunthreehups', class: :social_links, target: :_blank do
          = fa_icon 'vk 2x'
        = link_to 'https://www.instagram.com/thesunthreehups/', class: :social_links, target: :_blank do
          = fa_icon 'instagram 2x'
        = link_to 'https://soundcloud.com/user-155083640-759450370', class: :social_links, target: :_blank do
          = fa_icon 'soundcloud 2x'
      %br
      %br
      %br
      -#.products.multi
        .product
          .product-img
            %a{href: '#', target: '_blank'}
              = image_tag 'black_lp_cd.jpg', class: 'attachment-full size-full wp-post-image', height: 600, sizes: '(max-width: 600px) 100vw 600px'
          %h4 Black LP CD
          %a.btn{href: '#', target: '_blank'} Купить
      %a.anchor-link{href: "#tour"}
        %span.txt Даты следующих выступлений
        = fa_icon 'chevron-down'
  #tour.tour-dates
    .container
      .tour-intro
        %h3 Приходите на наши живые выступления
      .tour-items
        = render 'tour_item', date: '28 сентября 2017', place: 'Yankee Bar & Grill', city: 'Ульяновск'
        = render 'tour_item', date: '7 октября 2017', place: 'Records Music Pub', city: 'Ульяновск'
        = render 'tour_item', date: '25 октября 2017', place: 'IT Way\'17', city: 'Димитровград', link: 'http://it-way.pro', text: 'Узнать подробности'
  %footer
    .container
      %p
        Copyright ©
        = copyright 2017
        The Sun Three Hups
        -#%a{href: "https://privacypolicy.umusic.com/terms/", target: "_blank"} Terms
        -#%a{href: "https://privacypolicy.umusic.com/", target: "_blank"} Privacy
        -#%a.credit{href: "http://famehouse.net", target: "_blank"}
          %img.init{alt: "Fame House", src: "http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/fh-logo@1x.png", srcset: "http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/fh-logo@1x.png 1x, http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/fh-logo@2x.png 2x"}/
          %img.hover{alt: "Fame House", src: "http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/fh-logo-h@1x.png", srcset: "http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/fh-logo-h@1x.png 1x, http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/fh-logo-h@2x.png 2x"}/
    / /container
  / /footer
/ /full-page-wrap
