.full-page-wrap.smooth-container
  %header
    .container
      %h1.logo
  .album-text.mobile
    .container
      %h3
        %strong The Sun Three Hups - Black LP
  .page-wrap
    .container
      .bg-img
        = image_tag 'cd.png', alt: 'The Sun Three Hups', class: 'tilt-img', data: { tilt: '' }
      %nav
        %ul
          %li
            = link_to 'https://www.youtube.com/watch?v=XO7JGfqPB0s&feature=youtu.be' do
              = fa_icon 'youtube-play'
              Смотреть клип 'Multicolor Bus'
          -#%li
            %a{href: "https://forms.umusic.com/4931/form/7691", target: "_blank"} Подписаться на рассылку
          -#%li
            %a{href: "https://shop.thekillersmusic.com/", target: "_blank"} Visit Official Store
  .anchor-wrap.desktop
    .container
      .album-text.desktop
        %h3
          %strong The Sun Three Hups - Black LP
      .products.multi
        .product
          .product-img
            %a{href: '#', target: '_blank'}
              = image_tag 'black_lp_cd.jpg', class: 'attachment-full size-full wp-post-image', height: 600, sizes: '(max-width: 600px) 100vw 600px'
          %h4 Black LP CD
          %a.btn{href: '#', target: '_blank'} Купить
      %a.anchor-link{href: "#tour"}
        %span.txt Даты следующих выступлений
        = fa_icon 'chevron-down'
  #tour.tour-dates
    .container
      .tour-intro
        %h3 Приходите на наши живые концерты
      .tour-items
        .tour-item
          .date
            %h4 19 сентября 2017
          .location
            %h3
              %span 16 тонн
              %strong Москва
          .link
            %a.btn{href: 'https://radario.ru/events/197542', target: '_blank'} Купить билет
        .tour-item
          .date
            %h4 25 октября 2017
          .location
            %h3
              %span IT Way'17
              %strong Димитровград
          .link
            %a.btn{href: 'http://it-way.pro', target: '_blank'} Узнать больше
  %footer
    .container
      %p
        Copyright ©
        = copyright 2017
        The Sun Three Hups
        -#%a{href: "https://privacypolicy.umusic.com/terms/", target: "_blank"} Terms
        -#%a{href: "https://privacypolicy.umusic.com/", target: "_blank"} Privacy
        -#%a.credit{href: "http://famehouse.net", target: "_blank"}
          %img.init{alt: "Fame House", src: "http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/fh-logo@1x.png", srcset: "http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/fh-logo@1x.png 1x, http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/fh-logo@2x.png 2x"}/
          %img.hover{alt: "Fame House", src: "http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/fh-logo-h@1x.png", srcset: "http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/fh-logo-h@1x.png 1x, http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/fh-logo-h@2x.png 2x"}/
    / /container
  / /footer
/ /full-page-wrap
%script{src: "http://thekillersmusic.com/wp-includes/js/wp-embed.min.js?ver=4.8.1", type: "text/javascript"}
